<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>List of Categories</h2>
        </div>
        <!-- <div class="col-md-4"></div> -->
        <!-- <div class="col-md-3">
            <table>
                <thead>
                    <tr>
                        <th>Sr.No</th>
                        <th>Categories</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let category of categoriesList let i=index">
                        <td>{{i+ 1}}</td>
                        <td>{{category}}</td>
                    </tr>
                </tbody>
            </table>
        </div> -->
        <div class="col-md-5">
            <ol>
                <li *ngFor="let category of categoriesList" style="cursor: pointer;font-size: 20px;" (click)="clickCategory(category)">
                  {{category}} - (Click for Expand of Details)
                </li>
            </ol>
        </div>    
       
    </div>

    <div class="row" *ngIf="categoryPageDiv">
        <div class="col-md-12">
            
            <div class="detailsList" *ngFor="let listdetails of categoryDetails">
                <h4><u>{{listdetails.category}} - Category</u></h4>
                <p style="cursor: pointer;" (click)="clickIdForDetails(listdetails.id)">Item Id - {{listdetails.id}} - Click for Details</p>
                 <p style="font-size:24px;text-transform:uppercase">{{listdetails.title}}</p>
                 <img src="{{listdetails.image}}" width="200" height="200" alt="">
                 <!-- <p>{{listdetails.description}}</p>
                 <p style="font-size:20px;"><strong>Price - {{listdetails.price}} $</strong></p> -->
                  
            </div>
        </div>
        <hr>
    </div>
    

    <div class="row" *ngIf="productDetailsDiv">
        <div class="col-md-12">
            
            <div class="detailsListId">
                <h3>Product View</h3>
                <h4><u>{{productDetailById.category}} - Category</u></h4>
                <!-- <p style="cursor: pointer;" (click)="clickIdForDetails(prodDetails.id)">Item Id - {{listdetails.id}} - Click for Details</p> -->
                 <p style="font-size:24px;text-transform:uppercase">{{productDetailById.title}}</p>
                 <img src="{{productDetailById.image}}" width="200" height="200" alt="">
                 <p>{{productDetailById.description}}</p>
                 <p style="font-size:20px;"><strong>Price - {{productDetailById.price}} $</strong></p>
                  
            </div>
        </div>
    </div>
    <div>
        <button *ngIf="productDetailsDiv" type="button" class="btn btn-success" (click)="closeProdctDetails()">Back</button>
    </div>
</div>
